/* Code font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

div.home-display	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding-top: 25rem;
}

div.home-display h1 {
	justify-content: center;
	color: white;
	font-size: xx-large;
}

div.home-display h2 {
	font-family: Source Code Pro;
	text-align: center;
	color: white;
}