
div.home-display	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding-top: 17rem;
}

h1 {
	justify-content: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}