/* Code font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro&display=swap');

nav, h1, div {
	display: flex;
}

nav{
	flex-direction: row;
	flex-grow: 1;
	background-color: white;
}

div.page-nav {
	flex-grow: 1;
	justify-content: right;
	padding-inline-end: 2rem;
	
}

nav h1 {
	flex-grow: 1;
	justify-content: start;
	padding-left: 2rem;

	font-family: Bebas Neue;
	color: black;
	text-align: center;
	font-size: 2rem;
}

a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 1.5rem;
	font-family: Source Code Pro;
	color: black;
	text-decoration: none;
	font-size: 1.25rem;
}