/* Source Code font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

div.list-item {
	border: 1px solid white;
	color: black;
}

div.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10rem;
	margin-left: 3rem;
	margin-right: 3rem;
	padding: 1rem;

	background-color: white;
	border: 1px solid transparent;
	border-radius: 5px;
}

div.list-item div{
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	padding: 1rem;
}

div.list-item h1{
	padding-bottom: 0.5rem;
	border-bottom: 1px solid lightgray;
}

div.list-item p{
	font-family: 'Source Code Pro';
	line-height: 1.5rem;
}

div.list-item img{
	border: 2px solid black;
	border-radius: 5px;
	max-width: 30rem;
	max-height: max-content;
	padding: 1rem;
}