/* * {
	border: 1px solid white;
} */

div.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: fit-content;
	background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
	justify-content: center;
	align-items: center;
}

